.dateWithRecord {
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    width: 4px;
    aspect-ratio: 1/1;
    background: theme(colors.primary);
    border-radius: 50%;
  }
}

.selectedDate {
  background: theme(colors.primary);

  &.dateWithRecord {
    &::after {
      background: theme(colors.white);
    }
  }
}
